<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - ChessT</title>
</head>
<body class="bg-body-tertiary">
    <nav class="navbar navbar-expand-sm bg-body border-bottom border-primary-subtle border-2">
        {% include 'game/header.html' %}
    </nav>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger m-3">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}

<script defer src="{{ url_for('static', filename='runtime.bundle.js') }}"></script>
<script defer src="{{ url_for('static', filename='index.bundle.js') }}"></script>
</body>
</html>