<div id="highlight" class="bg-primary-subtle border-end border-primary-subtle border-2 rounded-start">
    <img src="" alt="comment-section">
</div>
<div id="text-section" class="fs-4 px-4">
    <div class="comment">
        <div class="writer fw-semibold">
            <img class="avatar" src="" alt="Avatar">
            Kasparov:
        </div>
        <div class="comment">
            As far as I know, Black usually plays c6 and b5 before the move Bg7, but I don't think that this shift
            changes something seriously.
        </div>

        <div class="writer fw-semibold">
            <img class="avatar" alt="Avatar">
            Kasparov:
        </div>
        <div class="comment">
            As far as I know, Black usually plays c6 and b5 before the move Bg7, but I don't think that this shift
            changes something seriously.
        </div>
        <div class="writer fw-semibold">
            <img class="avatar" alt="Avatar">
            Kasparov:
        </div>
        <div class="comment">
            As far as I know, Black usually plays c6 and b5 before the move Bg7, but I don't think that this shift
            changes something seriously.
        </div>
        <div class="writer fw-semibold">
            <img class="avatar" alt="Avatar">
            Kasparov:
        </div>
        <div class="comment">
            As far as I know, Black usually plays c6 and b5 before the move Bg7, but I don't think that this shift
            changes something seriously.
        </div>
    </div>
</div>